
// COLOR
$color-secondary: #fff;
$color-primary: #222;
$color-tertiary: #2084f2;
$color-tertiary-dark: #2164ff;
$sub-color: #4d5368;
$sign-up-color: #080809;

// GRID
$gutter-horizontal: 2.5rem;
$grid-max-width: 115rem;


// TRANSITION
$transition-1: all 0.3s;
$transition-2: all 0.2s;
$transition-3:  all 0.8s cubic-bezier(.28,.01,.05,1);
$transition-4: all 1s;

// BORDER
$border-primary: #ccc;

// GUTTER - MARGIN - PADDING
$normal-padding-2-side: 4.2rem;

// HEADER
$header-heigt: 8rem;