
.dis-block {display: block !important;}
.dis-inline-block {display: inline-block !important;}
.u-margin-top-very-small { margin-top: 0.3rem !important;}
.u-margin-top-normal { margin-top: 2rem !important;}
.u-margin-bottom-normal { margin-bottom: 2rem !important; }
.color-tertiary-span {color: $color-tertiary !important;}
.center-text {text-align: center !important; width: 100% !important;}
.image-cover-border {object-fit: cover !important; border: 2px solid $color-secondary;}
.w-100 {width: 100% !important;}